@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  /* height: 100%; REMOVIDO para permitir scroll */
  overflow-x: hidden;
  /* overflow-y: auto; Permitir scroll vertical */
}

.font-great-vibes {
  font-family: var(--font-great-vibes);
}

.font-tangerine {
  font-family: "Tangerine", cursive;
}
